In [1]:
import pandas as pd
import numpy as np

In [2]:
ds = pd.read_csv("steam.csv")

In [3]:
ds

,appid,name,release_date,english,developer,publisher,platforms,required_age,categories,genres,steamspy_tags,achievements,positive_ratings,negative_ratings,average_playtime,median_playtime,owners,price
0,10,Counter-Strike,2000-11-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Online Multi-Player;Local Multi-P...,Action,Action;FPS;Multiplayer,0,124534,3339,17612,317,10000000-20000000,7.19
1,20,Team Fortress Classic,1999-04-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Online Multi-Player;Local Multi-P...,Action,Action;FPS;Multiplayer,0,3318,633,277,62,5000000-10000000,3.99
2,30,Day of Defeat,2003-05-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Valve Anti-Cheat enabled,Action,FPS;World War II;Multiplayer,0,3416,398,187,34,5000000-10000000,3.99
3,40,Deathmatch Classic,2001-06-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Online Multi-Player;Local Multi-P...,Action,Action;FPS;Multiplayer,0,1273,267,258,184,5000000-10000000,3.99
4,50,Half-Life: Opposing Force,1999-11-01,1,Gearbox Software,Valve,windows;mac;linux,0,Single-player;Multi-player;Valve Anti-Cheat en...,Action,FPS;Action;Sci-fi,0,5250,288,624,415,5000000-10000000,3.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27070,1065230,Room of Pandora,2019-04-24,1,SHEN JIAWEI,SHEN JIAWEI,windows,0,Single-player;Steam Achievements,Adventure;Casual;Indie,Adventure;Indie;Casual,7,3,0,0,0,0-20000,2.09
27071,1065570,Cyber Gun,2019-04-23,1,Semyon Maximov,BekkerDev Studio,windows,0,Single-player,Action;Adventure;Indie,Action;Indie;Adventure,0,8,1,0,0,0-20000,1.69
27072,1065650,Super Star Blast,2019-04-24,1,EntwicklerX,EntwicklerX,windows,0,Single-player;Multi-player;Co-op;Shared/Split ...,Action;Casual;Indie,Action;Indie;Casual,24,0,1,0,0,0-20000,3.99
27073,1066700,New Yankee 7: Deer Hunters,2019-04-17,1,Yustas Game Studio,Alawar Entertainment,windows;mac,0,Single-player;Steam Cloud,Adventure;Casual;Indie,Indie;Casual;Adventure,0,2,0,0,0,0-20000,5.19
27074,1069460,Rune Lord,2019-04-24,1,Adept Studios GD,Alawar Entertainment,windows;mac,0,Single-player;Steam Cloud,Adventure;Casual;Indie,Indie;Casual;Adventure,0,4,0,0,0,0-20000,5.19

In [4]:
isiRecord = len(ds)
attribut = ds.columns
objek = len(ds.select_dtypes(include=['object']).columns)
float = len(ds.select_dtypes(include=['float64']).columns)
angka = len(ds.select_dtypes(include=['int64']).columns)
null = len(ds.columns[ds.isna().sum() > 0])

dictionary = {
    "Isi Record      :": isiRecord,
    "Nama Attribut   :": attribut,
    "Jumlah Attribut :": objek,
    "Jumlah Float    :": float,
    "Jumlah Angka    :": angka,
    "Jumlah Null     :": null,
}

pd.Series(dictionary)

Isi Record      :                                                27075
Nama Attribut   :    Index(['appid', 'name', 'release_date', 'engli...
Jumlah Attribut :                                                    9
Jumlah Float    :                                                    1
Jumlah Angka    :                                                    8
Jumlah Null     :                                                    0
dtype: object

In [7]:
ds.describe()

,appid,english,required_age,achievements,positive_ratings,negative_ratings,average_playtime,median_playtime,price
count,2.707500e+04,27075.000000,27075.000000,27075.000000,2.707500e+04,27075.000000,27075.000000,27075.00000,27075.000000
mean,5.962035e+05,0.981127,0.354903,45.248864,1.000559e+03,211.027147,149.804949,146.05603,6.078193
std,2.508942e+05,0.136081,2.406044,352.670281,1.898872e+04,4284.938531,1827.038141,2353.88008,7.874922
min,1.000000e+01,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.00000,0.000000
25%,4.012300e+05,1.000000,0.000000,0.000000,6.000000e+00,2.000000,0.000000,0.00000,1.690000
50%,5.990700e+05,1.000000,0.000000,7.000000,2.400000e+01,9.000000,0.000000,0.00000,3.990000
75%,7.987600e+05,1.000000,0.000000,23.000000,1.260000e+02,42.000000,0.000000,0.00000,7.190000
max,1.069460e+06,1.000000,18.000000,9821.000000,2.644404e+06,487076.000000,190625.000000,190625.00000,421.990000

In [8]:
ds.select_dtypes(include=['int64']).mean()

appid               596203.508661
english                  0.981127
required_age             0.354903
achievements            45.248864
positive_ratings      1000.558523
negative_ratings       211.027147
average_playtime       149.804949
median_playtime        146.056030
dtype: float64

In [9]:
ds.select_dtypes(include=['float64']).mean()

price    6.078193
dtype: float64

In [10]:
ds.select_dtypes(include=['int64']).std()

appid               250894.167246
english                  0.136081
required_age             2.406044
achievements           352.670281
positive_ratings     18988.724439
negative_ratings      4284.938531
average_playtime      1827.038141
median_playtime       2353.880080
dtype: float64

In [11]:
ds.select_dtypes(include=['float64']).std()

price    7.874922
dtype: float64

In [12]:
ds.select_dtypes(include=['int64']).min()

appid               10
english              0
required_age         0
achievements         0
positive_ratings     0
negative_ratings     0
average_playtime     0
median_playtime      0
dtype: int64

In [13]:
ds.select_dtypes(include=['float64']).min()

price    0.0
dtype: float64

In [14]:
ds.select_dtypes(include=['int64']).max()

appid               1069460
english                   1
required_age             18
achievements           9821
positive_ratings    2644404
negative_ratings     487076
average_playtime     190625
median_playtime      190625
dtype: int64

In [15]:
ds.select_dtypes(include=['float64']).max()

price    421.99
dtype: float64

In [16]:
ds.select_dtypes(include=['int64']).quantile([0.25,0.5,0.75])

,appid,english,required_age,achievements,positive_ratings,negative_ratings,average_playtime,median_playtime
0.25,401230.0,1.0,0.0,0.0,6.0,2.0,0.0,0.0
0.50,599070.0,1.0,0.0,7.0,24.0,9.0,0.0,0.0
0.75,798760.0,1.0,0.0,23.0,126.0,42.0,0.0,0.0

In [17]:
ds.select_dtypes(include=['float64']).quantile([0.25,0.5,0.75])

      price
0.25   1.69
0.50   3.99
0.75   7.19

In [18]:
ds.select_dtypes(include=['int64']).corr()

,appid,english,required_age,achievements,positive_ratings,negative_ratings,average_playtime,median_playtime
appid,1.000000,-0.116878,-0.087740,0.040510,-0.070888,-0.052198,-0.070236,-0.048308
english,-0.116878,1.000000,0.002860,0.014121,0.006001,0.005705,0.000338,-0.003416
required_age,-0.087740,0.002860,1.000000,-0.005459,0.060418,0.057599,0.034423,0.014748
achievements,0.040510,0.014121,-0.005459,1.000000,0.006058,0.003578,0.014175,0.009957
positive_ratings,-0.070888,0.006001,0.060418,0.006058,1.000000,0.762804,0.157898,0.035776
negative_ratings,-0.052198,0.005705,0.057599,0.003578,0.762804,1.000000,0.161140,0.047887
average_playtime,-0.070236,0.000338,0.034423,0.014175,0.157898,0.161140,1.000000,0.914900
median_playtime,-0.048308,-0.003416,0.014748,0.009957,0.035776,0.047887,0.914900,1.000000

In [19]:
ds.select_dtypes(include=['float64']).corr()

       price
price    1.0

In [22]:
pd.options.display.float_format = '{:.3f}'.format
ds['appid'].astype('float64')

0            10.000
1            20.000
2            30.000
3            40.000
4            50.000
            ...
27070   1065230.000
27071   1065570.000
27072   1065650.000
27073   1066700.000
27074   1069460.000
Name: appid, Length: 27075, dtype: float64

In [23]:
pd.options.display.float_format = '{:.3f}'.format
ds['english'].astype('float64')

0       1.000
1       1.000
2       1.000
3       1.000
4       1.000
         ...
27070   1.000
27071   1.000
27072   1.000
27073   1.000
27074   1.000
Name: english, Length: 27075, dtype: float64

In [24]:
pd.options.display.float_format = '{:.3f}'.format
ds['required_age'].astype('float64')

0       0.000
1       0.000
2       0.000
3       0.000
4       0.000
         ...
27070   0.000
27071   0.000
27072   0.000
27073   0.000
27074   0.000
Name: required_age, Length: 27075, dtype: float64

In [25]:
pd.options.display.float_format = '{0:}'.format
ds['required_age'].astype('int64')

0        0
1        0
2        0
3        0
4        0
        ..
27070    0
27071    0
27072    0
27073    0
27074    0
Name: required_age, Length: 27075, dtype: int64

In [26]:
columns_dtypes_info = ds.dtypes

In [27]:
dataset_columns = ds.columns

In [28]:
dataset_columns_int = []
for index, item in enumerate(columns_dtypes_info):
    if str (item) == 'int64':
        dataset_columns_int.append(dataset_columns[index])
        
print(dataset_columns_int)

['appid', 'english', 'required_age', 'achievements', 'positive_ratings', 'negative_ratings', 'average_playtime', 'median_playtime']

In [29]:
ds[dataset_columns_int].head(10)

,appid,english,required_age,achievements,positive_ratings,negative_ratings,average_playtime,median_playtime
0,10,1,0,0,124534,3339,17612,317
1,20,1,0,0,3318,633,277,62
2,30,1,0,0,3416,398,187,34
3,40,1,0,0,1273,267,258,184
4,50,1,0,0,5250,288,624,415
5,60,1,0,0,2758,684,175,10
6,70,1,0,0,27755,1100,1300,83
7,80,1,0,0,12120,1439,427,43
8,130,1,0,0,3822,420,361,205
9,220,1,0,33,67902,2419,691,402

In [30]:
dataset_columns_float = []
for index, item in enumerate(columns_dtypes_info):
    if str (item) == 'float64':
        dataset_columns_float.append(dataset_columns[index])
        
print(dataset_columns_float)

['price']

ds[dataset_columns_float].head(10)

In [32]:
ds.select_dtypes(include=['int64']).to_csv("Atribut Angka.csv", index=False)

In [33]:
ds.select_dtypes(include=['float64']).to_csv("Atribut huruf.csv", index=False)